<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <!-- HEADING -->
  <h1> K #12: Echo Echo Echo </h1>
  <b> Team Name: </b> Golly Gophers
  <br>
  <b> Team Roster: </b> Tammy Chen & Leia Park
  <br>
  <hr>
    <!-- This is what will be displayed on the response page: username, request method (GET), and a greeting made by us! -->
    Hello <b> {{username}}</b>!
    <br>
    <b>{{method}}</b> was used to get your information.
    <br>
    How are you today? We hope you are doing great!
</body>
</html>
