html {
  background: #858585;
  font-family: Arial;
}

h1 {
  background-color: #a3a3a3;
  color: #FFFFFF;
  text-align: center; <<
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li a {
  color: #d1d1d1;
  text-decoration: none;
}

#left {
  float: left;
  padding-right: 100px;
}

#right {
  float: left;
  width: 75%;
}

#copyright{
  float: right;
  background-color: #5e5e5e;
  padding-left: 100%;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #858585;
  text-align: right;
  white-space: nowrap;
}
