<!DOCTYPE html>
<html>
    <head>
        <title> COVID-19 </title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>

    <body>
        <h3> D3: COVID-19 Data </h3>
        <button id="render">Render</button>
        <button id="transition">Transition</button>
        <br>
        <div id="chart">
        </div>
        <script src="https://d3js.org/d3.v5.min.js" charset="utf-8"></script>

        <script type="text/javascript" charset="utf-8">
          var data = {{ csv }};
          var heading = {{ dates|safe }};
        </script>

        <script src="{{ url_for('static', filename='d3.js') }}"></script>
    </body>

</html>
