<!DOCTYPE html>
<html>
<body>
  <h1>Nobel Peace Prize Winners</h1>
  <hr>
  <h3>Winners In a Given Year</h3>
  <form action= "{{ url_for('year') }}" method = "POST">
   <input name = "year" placeholder="Enter a year here"></input>
 </form><br>
    {% for each in year%}
      {% for person in each["laureates"]%}
        {{person["firstname"]}} {{person["surname"]}}: {{person["motivation"]}}<br>
      {% endfor %}
    {% endfor %}

    <h3>List of All Chemistry Laureates:</h3>
      <table style="border: 1px solid black;">
      {% for each in subject %}
        <tr style="border: 1px solid black;">
          <th style="border: 1px solid black;">
            {{each["year"]}}
          </th>
        {% for person in each["laureates"] %}
          <th style="border: 1px solid black;">
          {{person["firstname"]}} {{person["surname"]}}
          </th>
        {% endfor %}
        </tr>
      {% endfor %}
      </table>
</body>
</html>
