<!DOCTYPE HTML>
<html>
<head>
</head>
<body>
  <h1> K #12: Echo Echo Echo </h1>
  <b> Team Name: </b> Golly Gophers
  <br>
  <b> Team Roster: </b> Tammy Chen & Leia Park
  <br>
  <b> Description: </b> Write a Flask app to serve a 2-page website (a landing page at / and a response page at /auth) to echo to a user their input via an HTML form. Your app's response should be rendered via template, and the following should be viewable in the browser:
  <hr>
  <form action="/auth">
    <input type = "text" name="firstname"><br>
    <input type = "submit" name="subl">
  </form>
</body>
</html>
